In [2]:
import pandas as pd

df_clothes = pd.DataFrame(data = [['blue', 'S', 20,'lemon shirt'], 
                                 ['blue','M',50,'jeans'],
                                 ['beige','M',7,'bucket hat']])

df_clothes.columns = ['color', 'size', 'price', 'type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [4]:
#can convert categorical values to numerical
# size is ordinal, so it can be easily encoded

size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price         type
0   blue     1     20  lemon shirt
1   blue     2     50        jeans
2  beige     2      7   bucket hat

In [6]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/Cellar/jupyterlab/4.2.3/libexec/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/Cellar/jupyterlab/4.2.3/libexec/lib/python3.12/site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/Cellar/jupyterlab/4.2.3/libexec/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/Cellar/jupyterlab/4.2.3/libexec/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color  size  price         type  types
0   blue     1     20  lemon shirt      2
1   blue     2     50        jeans      1
2  beige     2      7   bucket hat      0

In [8]:
# one hot encoding - easiest way
# this doesn't work if you have data that is already numerical

df_clothes = pd.get_dummies(df_clothes[['color', 'size', 'price']])
df_clothes

   size  price  color_beige  color_blue
0     1     20        False        True
1     2     50        False        True
2     2      7         True       False