In [2]:
import pandas as pd
csv_df = pd.read_csv('cars.csv', delimiter= ";")
csv_df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US

In [8]:
csv_df.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [17]:
# 09/12
import pandas as pd
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.tail()
from scipy import stats

In [20]:
stat.stdev(belize_df["number_of_reviews"])

AttributeError: module 'scipy.stats' has no attribute 'stdev'

In [19]:
statistics.stdev(belize_df["minimum_nights"])

NameError: name 'statistics' is not defined

In [32]:
df = pd.read_csv("titanic.csv")
#titanic_df.head(10)
#name = df.Name.to_numpy()
#embarked = df.Embarked.to_numpy()
df['Name'][df['Embarked'] =="S"].head()

0                         Braund, Mr. Owen Harris
2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object

In [ ]:
#09/23
#Unsupervised - no set target, just putting in certain code

# 09/26
Linear regression is used to model and predict the relationship between independent and dependent variables. Use it to solve problems with linear data

K-nearest neighbor predicts the group of a data point based on "majority" votes from nearest neighors.

In [ ]:
#10/03