### Homework 3 Numpy Arrays and Pandas

1. Open `cars.csv` in jupyter and look at the data. (Double click `cars.csv` to open in a new tab).
2. We are converting each **column** into a numpy array.
3. Notice we have text, integer and float data. 
4. Take care not to overwrite your starter code.

In [141]:
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('cars.csv',delimiter=';')

# Convert each column to an np.array
car = df.Car.to_numpy()
mpg = df.MPG.to_numpy()
cylinders = df.Cylinders.to_numpy()
displacement = df.Displacement.to_numpy()
horsepower = df.Horsepower.to_numpy()
weight = df.Weight.to_numpy()
acceleration = df.Acceleration.to_numpy()
model = df.Model.to_numpy()
origin = df.Origin.to_numpy()

# create an array of headers
headers = np.array(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model', 'Origin'])

1. (2 pts) What are the numpy datatypes for the `car`,`mpg`, `horsepower` and `origin` arrays? (Hint: Not `type(car)` and use `print()` to print the numpy type.)

In [9]:
print(car.dtype, mpg.dtype, horsepower.dtype, origin.dtype)

object float64 float64 object

2. (1 pt) `numpy` is often imported as `np`. What is this action called? Why might you do this?

`np` is an alias for `numpy` and it is used to make the code more readable and easier to access because `numpy` is a library of dataframes, so `np` is a simplified and concise prefix.

3. (2 pts) Each of the arrays (cars, mpg, cylinders, etc..) has how many dimensions? Show how to find this using code.

In [4]:
car = df.Car.to_numpy()
car.ndim

1

In [5]:
mpg.ndim

1

In [13]:
cylinders.ndim

1

In [14]:
horsepower.ndim

1

In [15]:
displacement.ndim

1

In [16]:
weight.ndim

1

In [17]:
acceleration.ndim

1

In [18]:
model.ndim

1

In [19]:
origin.ndim

1

4. (3 pts) What is the ___ of `horsepower`?
- sum
- min
- max
- median
- Optional: mode (May need to google help) (1 pt extra credit)

In [31]:
df[['Horsepower']].sum()

Horsepower    42033.0
dtype: float64

In [32]:
df[['Horsepower']].min()

Horsepower    0.0
dtype: float64

In [33]:
df[['Horsepower']].max()

Horsepower    230.0
dtype: float64

In [34]:
df[['Horsepower']].median()

Horsepower    93.5
dtype: float64

In [35]:
df[['Horsepower']].mode()

   Horsepower
0       150.0

5. (2 pts) Select the last element in each subarray (do this with one operation.)

In [55]:
select_more = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
# returns array([3, 6, 9])
new_array = np.array([select_more[0,2], select_more[1,2], select_more[2,2]])
print(new_array)

[3 6 9]

6. (2 pts) Use the built-in `np.lookfor()` function to search for `'log'`.

Use the function you find and apply it to `mpg`.

In [126]:
np.lookfor(log)
#This function is not compatible with the version of NumPy on my computer, so it is not possible to look up the function or solve the question at hand.

AttributeError: `np.lookfor` was removed in the NumPy 2.0 release. Search NumPy's documentation directly.

7. (2 pts) Use boolean indexing to create an array of `True/False` using `origin` and the value 'US'.

In [150]:
origindf = np.array(origin) == 'US'
origindf

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False, False, False,
       False, False, False,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False, False, False,  True, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
       False, False,  True,  True, False,  True,  True, False, False,
       False, False,  True, False, False,  True,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False, False,
        True, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
       False,  True, False,  True, False, False, False, False, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True,  True,  True, False, False, False,  True, False,  True,
       False, False, False,  True,  True,  True,  True, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False, False, False, False, False,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
        True, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False, False,  True, False,  True,  True,  True,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False,  True,  True,  True,  True,  True, False,
        True, False, False, False, False, False,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False,  True,
        True, False, False, False, False, False, False,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True])

8. (2 pts) Apply your index (from above) to the `car` array. You should now only see cars that are of US origin.

In [161]:
origindf = np.array(origin) == 'US'
new_car = car[origindf]
new_car

array(['Chevrolet Chevelle Malibu', 'Buick Skylark 320',
       'Plymouth Satellite', 'AMC Rebel SST', 'Ford Torino',
       'Ford Galaxie 500', 'Chevrolet Impala', 'Plymouth Fury iii',
       'Pontiac Catalina', 'AMC Ambassador DPL',
       'Chevrolet Chevelle Concours (sw)', 'Ford Torino (sw)',
       'Plymouth Satellite (sw)', 'AMC Rebel SST (sw)',
       'Dodge Challenger SE', "Plymouth 'Cuda 340",
       'Ford Mustang Boss 302', 'Chevrolet Monte Carlo',
       'Buick Estate Wagon (sw)', 'Plymouth Duster', 'AMC Hornet',
       'Ford Maverick', 'AMC Gremlin', 'Ford F250', 'Chevy C20',
       'Dodge D200', 'Hi 1200D', 'Chevrolet Vega 2300', 'Ford Pinto',
       'AMC Gremlin', 'Plymouth Satellite Custom',
       'Chevrolet Chevelle Malibu', 'Ford Torino 500', 'AMC Matador',
       'Chevrolet Impala', 'Pontiac Catalina Brougham',
       'Ford Galaxie 500', 'Plymouth Fury iii', 'Dodge Monaco (sw)',
       'Ford Country Squire (sw)', 'Pontiac Safari (sw)',
       'AMC Hornet Sportabout (sw)', 'Chevrolet Vega (sw)',
       'Pontiac Firebird', 'Ford Mustang', 'Mercury Capri 2000',
       'Plymouth Cricket', 'Dodge Colt Hardtop', 'Chevrolet Vega',
       'Ford Pinto Runabout', 'Chevrolet Impala', 'Pontiac Catalina',
       'Plymouth Fury III', 'Ford Galaxie 500', 'AMC Ambassador SST',
       'Mercury Marquis', 'Buick LeSabre Custom',
       'Oldsmobile Delta 88 Royale', 'Chrysler Newport Royal',
       'AMC Matador (sw)', 'Chevrolet Chevelle Concours (sw)',
       'Ford Gran Torino (sw)', 'Plymouth Satellite Custom (sw)',
       'Ford Pinto (sw)', 'Dodge Colt (sw)', 'Buick Century 350',
       'AMC Matador', 'Chevrolet Malibu', 'Ford Gran Torino',
       'Dodge Coronet Custom', 'Mercury Marquis Brougham',
       'Chevrolet Caprice Classic', 'Ford LTD',
       'Plymouth Fury Gran Sedan', 'Chrysler New Yorker Brougham',
       'Buick Electra 225 Custom', 'AMC Ambassador Brougham',
       'Plymouth Valiant', 'Chevrolet Nova Custom', 'AMC Hornet',
       'Ford Maverick', 'Plymouth Duster', 'Chevrolet Impala',
       'Ford Country', 'Plymouth Custom Suburb',
       'Oldsmobile Vista Cruiser', 'AMC Gremlin', 'Chevrolet Vega',
       'Ford Pinto', 'Mercury Capri v6', 'Chevrolet Monte Carlo S',
       'Pontiac Grand Prix', 'Dodge Dart Custom', 'Oldsmobile Omega',
       'Plymouth Duster', 'Ford Maverick', 'AMC Hornet', 'Chevrolet Nova',
       'Ford Pinto', 'Chevrolet Vega',
       'Chevrolet Chevelle Malibu Classic', 'AMC Matador',
       'Plymouth Satellite Sebring', 'Ford Gran Torino',
       'Buick Century Luxus (sw)', 'Dodge Coronet Custom (sw)',
       'Ford Gran Torino (sw)', 'AMC Matador (sw)', 'Dodge Colt',
       'Plymouth Valiant Custom', 'Chevrolet Nova', 'Mercury Monarch',
       'Ford Maverick', 'Pontiac Catalina', 'Chevrolet Bel Air',
       'Plymouth Grand Fury', 'Ford LTD', 'Buick Century',
       'Chevrolete Chevelle Malibu', 'AMC Matador', 'Plymouth Fury',
       'Buick Skyhawk', 'Chevrolet Monza 2+2', 'Ford Mustang II',
       'Ford Pinto', 'AMC Gremlin', 'Pontiac Astro', 'Ford Pinto',
       'AMC Pacer', 'Capri ii', 'Dodge Colt',
       'Chevrolet Chevelle Malibu Classic', 'Dodge Coronet Brougham',
       'AMC Matador', 'Ford Gran Torino', 'Plymouth Valiant',
       'Chevrolet Nova', 'Ford Maverick', 'AMC Hornet',
       'Chevrolet Chevette', 'Chevrolet Woody', 'Dodge Aspen SE',
       'Ford Grenada ghia', 'Pontiac Ventura SJ', 'AMC Pacer d/l',
       'Ford Pinto', 'Plymouth Volare Premier v8', 'Cadillac Seville',
       'Chevrolet C10', 'Ford F108', 'Dodge D100',
       'Buick Opel Isuzu Deluxe', 'Plymouth Arrow GS',
       'Chevrolet Caprice Classic', 'Oldsmobile Cutlass Supreme',
       'Dodge Monaco Brougham', 'Mercury Cougar Brougham',
       'Chevrolet Concours', 'Buick Skylark', 'Plymouth Volare Custom',
       'Ford Grenada', 'Pontiac Grand Prix LJ',
       'Chevrolet Monte Carlo Landau', 'Chrysler Cordoba',
       'Ford Thunderbird', 'Pontiac Sunbird Coupe', 'Ford Mustang II 2+2',
       'Chevrolet Chevette', 'Dodge Colt m/m', 'Ford Fiesta',
       'Oldsmobile Cutlass Salon Brougham', 'Dodge Diplomat',
       'Mercury Monarch ghia', 'Pontiac Phoenix LJ', 'Chevrolet Malibu',
       'Ford Fairmont (auto)', 'Ford Fairmont (man)', 'Plymouth Volare',
       'AMC Concord', 'Buick Century Special', 'Mercury Zephyr',
       'Dodge Aspen', 'AMC Concord d/l', 'Chevrolet Monte Carlo Landau',
       'Buick Regal Sport Coupe (turbo)', 'Ford Futura',
       'Dodge Magnum XE', 'Chevrolet Chevette', 'Dodge Omni',
       'Plymouth Sapporo', 'Oldsmobile Starfire SX', 'Pontiac Lemans V6',
       'Mercury Zephyr 6', 'Ford Fairmont 4', 'AMC Concord DL 6',
       'Dodge Aspen 6', 'Chevrolet Caprice Classic', 'Ford LTD Landau',
       'Mercury Grand Marquis', 'Dodge St. Regis',
       'Buick Estate Wagon (sw)', 'Ford Country Squire (sw)',
       'Chevrolet Malibu Classic (sw)',
       'Chrysler Lebaron Town @ Country (sw)',
       'Dodge Colt Hatchback Custom', 'AMC Spirit DL',
       'Cadillac Eldorado', 'Oldsmobile Cutlass Salon Brougham',
       'Plymouth Horizon', 'Plymouth Horizon TC3',
       'Buick Skylark Limited', 'Chevrolet Citation',
       'Oldsmobile Omega Brougham', 'Pontiac Phoenix',
       'Chevrolet Chevette', 'Chevrolet Citation', 'Ford Fairmont',
       'AMC Concord', 'Dodge Aspen', 'Dodge Colt', 'Ford Mustang Cobra',
       'Plymouth Reliant', 'Buick Skylark', 'Dodge Aries Wagon (sw)',
       'Chevrolet Citation', 'Plymouth Reliant', 'Plymouth Champ',
       'Plymouth Horizon 4', 'Ford Escort 4W', 'Ford Escort 2H',
       'Buick Century', 'Oldsmobile Cutlass LS', 'Ford Grenada gl',
       'Chrysler Lebaron Salon', 'Chevrolet Cavalier',
       'Chevrolet Cavalier Wagon', 'Chevrolet Cavalier 2-door',
       'Pontiac J2000 SE Hatchback', 'Dodge Aries SE', 'Pontiac Phoenix',
       'Ford Fairmont Futura', 'AMC Concord DL', 'Plymouth Horizon Miser',
       'Mercury Lynx l', 'Buick Century Limited',
       'Oldsmobile Cutlass Ciera (diesel)', 'Chrysler Lebaron Medallion',
       'Ford Grenada l', 'Dodge Charger 2.2', 'Chevrolet Camaro',
       'Ford Mustang GL', 'Dodge Rampage', 'Ford Ranger', 'Chevy S-10'],
      dtype=object)

### Use numpy or pandas to answer the following questions.

9. (3 pts) What is the average horsepower for `Europe` cars? (Hint: create a boolean index of 'US' apply it to horsepower and perform the calculation.)

In [131]:
is_europe = csv_df['Origin'] == 'Europe'
europe_horsepower = csv_df.loc[is_europe, 'Horsepower'].mean()

print(f"Average horsepower for EU cars: {europe_horsepower}")

Average horsepower for EU cars: 78.78082191780823

10. (3 pts) On average are Japanese cars more fuel-efficient than US cars? Show the code that you used to determine this.

In [153]:
us_df = csv_df['Origin'] == 'US'
japan_df = csv_df['Origin'] == 'Japan'

usmeandf = csv_df.loc[us_df,'MPG'].mean()
japanmeandf = csv_df.loc[japan_df,'MPG'].mean()

if usmeandf > japanmeandf:
    print('US cars are more fuel-efficient than Japan cars')
if usmeandf < japanmeandf:
    print('Japanese cars are more fuel-efficient than US cars')

Japanese cars are more fuel-efficient than US cars

11. (3 pts) What is the correlation coefficient of `mpg` and `weight`? What is a correlation coefficient? What does the result indicate about the relationship between mpg and weight?

In [138]:
mpg = pd.to_numeric(csv_df['MPG'])
weight = pd.to_numeric(csv_df['Weight'])
correlation_coef = mpg.corr(weight)
print(f"Correlation coef, between the MPG and weight: {correlation_coef}")

Correlation coef, between the MPG and weight: -0.7875099405047029

Extra credit: (3 pts) Create a new pandas dataframe that has the average mpg, weight, and horsepower per country of origin

In [154]:
ndf = df.groupby('Origin')

mpgdf = ndf[['MPG']].mean().reset_index()
mpgdf

   Origin        MPG
0  Europe  26.745205
1   Japan  30.450633
2      US  19.688189

In [155]:
weightdf = ndf[["Weight"]].mean().reset_index()
weightdf

   Origin       Weight
0  Europe  2431.493151
1   Japan  2221.227848
2      US  3372.700787

In [156]:
horsedf = ndf[["Horsepower"]].mean().reset_index()
horsedf

   Origin  Horsepower
0  Europe   78.780822
1   Japan   79.835443
2      US  118.011811

In [158]:
merge_df = pd.merge(mpgdf,weightdf, on="Origin")
merge_df

   Origin        MPG       Weight
0  Europe  26.745205  2431.493151
1   Japan  30.450633  2221.227848
2      US  19.688189  3372.700787

In [160]:
merge2_df = pd.merge(merge_df,horsedf, on="Origin")
merge2_df

   Origin        MPG       Weight  Horsepower
0  Europe  26.745205  2431.493151   78.780822
1   Japan  30.450633  2221.227848   79.835443
2      US  19.688189  3372.700787  118.011811