### Homework 3 Numpy Arrays and Pandas

1. Open `cars.csv` in jupyter and look at the data. (Double click `cars.csv` to open in a new tab).
2. We are converting each **column** into a numpy array.
3. Notice we have text, integer and float data. 
4. Take care not to overwrite your starter code.

In [141]:
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('cars.csv',delimiter=';')

# Convert each column to an np.array
car = df.Car.to_numpy()
mpg = df.MPG.to_numpy()
cylinders = df.Cylinders.to_numpy()
displacement = df.Displacement.to_numpy()
horsepower = df.Horsepower.to_numpy()
weight = df.Weight.to_numpy()
acceleration = df.Acceleration.to_numpy()
model = df.Model.to_numpy()
origin = df.Origin.to_numpy()

# create an array of headers
headers = np.array(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model', 'Origin'])

1. (2 pts) What are the numpy datatypes for the `car`,`mpg`, `horsepower` and `origin` arrays? (Hint: Not `type(car)` and use `print()` to print the numpy type.)

In [9]:
print(car.dtype, mpg.dtype, horsepower.dtype, origin.dtype)

object float64 float64 object

2. (1 pt) `numpy` is often imported as `np`. What is this action called? Why might you do this?

`np` is an alias for `numpy` and it is used to make the code more readable and easier to access because `numpy` is a library of dataframes, so `np` is a simplified and concise prefix.

3. (2 pts) Each of the arrays (cars, mpg, cylinders, etc..) has how many dimensions? Show how to find this using code.

In [4]:
car = df.Car.to_numpy()
car.ndim

1

In [5]:
mpg.ndim

1

In [13]:
cylinders.ndim

1

In [14]:
horsepower.ndim

1

In [15]:
displacement.ndim

1

In [16]:
weight.ndim

1

In [17]:
acceleration.ndim

1

In [18]:
model.ndim

1

In [19]:
origin.ndim

1

4. (3 pts) What is the ___ of `horsepower`?
- sum
- min
- max
- median
- Optional: mode (May need to google help) (1 pt extra credit)

In [31]:
df[['Horsepower']].sum()

Horsepower    42033.0
dtype: float64

In [32]:
df[['Horsepower']].min()

Horsepower    0.0
dtype: float64

In [33]:
df[['Horsepower']].max()

Horsepower    230.0
dtype: float64

In [34]:
df[['Horsepower']].median()

Horsepower    93.5
dtype: float64

In [35]:
df[['Horsepower']].mode()

   Horsepower
0       150.0

5. (2 pts) Select the last element in each subarray (do this with one operation.)

In [55]:
select_more = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
# returns array([3, 6, 9])
new_array = np.array([select_more[0,2], select_more[1,2], select_more[2,2]])
print(new_array)

[3 6 9]

6. (2 pts) Use the built-in `np.lookfor()` function to search for `'log'`.

Use the function you find and apply it to `mpg`.

In [126]:
np.lookfor(log)
#This function is not compatible with the version of NumPy on my computer, so it is not possible to look up the function or solve the question at hand.

AttributeError: `np.lookfor` was removed in the NumPy 2.0 release. Search NumPy's documentation directly.

7. (2 pts) Use boolean indexing to create an array of `True/False` using `origin` and the value 'US'.

In [150]:
origindf = np.array(origin) == 'US'
origindf

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False, False, False,
       False, False, False,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False, False, False,  True, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
       False, False,  True,  True, False,  True,  True, False, False,
       False, False,  True, False, False,  True,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False, False,
        True, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
       False,  True, False,  True, False, False, False, False, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True,  True,  True, False, False, False,  True, False,  True,
       False, False, False,  True,  True,  True,  True, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False, False, False, False, False,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
        True, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False, False,  True, False,  True,  True,  True,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False,  True,  True,  True,  True,  True, False,
        True, False, False, False, False, False,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False,  True,
        True, False, False, False, False, False, False,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True])

8. (2 pts) Apply your index (from above) to the `car` array. You should now only see cars that are of US origin.

In [152]:
origindf = np.array(origin) == 'US'
new_car = car[origindf]
new_car

406

### Use numpy or pandas to answer the following questions.

9. (3 pts) What is the average horsepower for `Europe` cars? (Hint: create a boolean index of 'US' apply it to horsepower and perform the calculation.)

In [131]:
is_europe = csv_df['Origin'] == 'Europe'
europe_horsepower = csv_df.loc[is_europe, 'Horsepower'].mean()

print(f"Average horsepower for EU cars: {europe_horsepower}")

Average horsepower for EU cars: 78.78082191780823

10. (3 pts) On average are Japanese cars more fuel-efficient than US cars? Show the code that you used to determine this.

In [134]:
us_df = csv_df['Origin'] == 'US'
japan_df = csv_df['Origin'] == 'Japan'

usmeandf = us_df.mean()
japanmeandf = japan_df.mean()

if usmeandf > japanmeandf:
    print('US cars are more fuel-efficient than Japan cars')
if usmeandf < japanmeandf:
    print('Japanese cars are more fuel-efficient than US cars')

US cars are more fuel-efficient than Japan cars

11. (3 pts) What is the correlation coefficient of `mpg` and `weight`? What is a correlation coefficient? What does the result indicate about the relationship between mpg and weight?

In [138]:
mpg = pd.to_numeric(csv_df['MPG'])
weight = pd.to_numeric(csv_df['Weight'])
correlation_coef = mpg.corr(weight)
print(f"Correlation coef, between the MPG and weight: {correlation_coef}")

Correlation coef, between the MPG and weight: -0.7875099405047029

Extra credit: (3 pts) Create a new pandas dataframe that has the average mpg, weight, and horsepower per country of origin

In [109]:
ndf = df.groupby("Origin")
print(ndf)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x116307620>

In [105]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790.0,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295.0,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625.0,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720.0,19.4,82,US